*{
    margin: 0;
    padding: 0;
}
:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 450ms;
}
/* to change the scroll bar  */
body::-webkit-scrollbar{
    height: 0.25rem;              /* height of horizontal scrollbar ← You're missing this */

    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
    
}
body::-webkit-scrollbar-thumb{
    background: #e7b24f;
    border-radius: 100%;

}

body{
    margin: 0;
    padding: 0px;
    
}
main{
    margin-left: 8rem;
    margin-right: 0;
    padding: 1rem;
}
.navbar{
    background-color: #ac814d;
    
    margin: 0;
    padding: 0.25rem;
    margin-left: 0;
    position: fixed;
    width: 5rem;
    height: 100vh;
    transition: width 300ms ease;

    
}
.navbar-nav{
    list-style: none;
    /* padding: 10px; */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
    width: 100%;
    
    
}
.nav-item{
    width: 100%;
    padding: 0.25rem;
    filter: grayscale(100%) opacity(0.5);
}
.nav-item span{
    width: 100%; 
    color: white;  
}
.nav-link{
    text-decoration: none;
    color: white;
    display: flex;
    width: 100%;
    
    flex-direction: row;
    height: 1.95rem;
    
} 

.nav-link svg{
    /* width: 2rem; */
    min-width: 2rem;
    margin: 0 1.5rem;
    height: 1.25rem; 
    
    
 }  

.link-text{
    display: none;
    color: #141418;
    /* background-color: #a249ea; */
} 

.nav-item:last-child {
    margin-top: auto;
  }
.navbar:hover{
    width: 16rem;
    cursor: pointer;
    /* padding: 1rem; */
}

.navbar:hover .link-text{
    display: block;
    transition: display 1000ms ease-in;
}
.nav-item:hover{
    filter: grayscale(0%) opacity(1);
    padding: 1px;
    background-color: #e08f25;
    transition: padding var(--transition-speed) ease;

}
.navbar:hover .logo {
    text-align: right;
    transition: text-align 600ms ease;
}
h1{
    font-size: 3rem;
}


.front{
    height: 80vh;
    width: 100vw;
    margin-left: 5rem;
    border: solid 1px ;
    background-image: url(https://images.unsplash.com/photo-1530375323520-248ebdaa967f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #633ff1;
    text-align: center;

}
.logo svg{
    transform: rotate(0deg);
    transition: transform 900ms;

}
.navbar:hover .logo svg{
    transform: rotate(-540deg);
}

