*{
    margin: 0;
    padding: 0;

}
:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #1e1e24;
    
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 450ms;
}
/* to change the scroll bar  */
body::-webkit-scrollbar{
    height: 0.25rem;              /* height of horizontal scrollbar â† You're missing this */

    width: 0.5rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
    
}
body::-webkit-scrollbar-thumb{
    background: #e7b24f;
    border-radius: 100%;

}

body{
    margin: 0;
    padding: 0px;
    /* overflow-x: hidden; */
}
.navbar{
    background-color: #ac814d;
    
    margin: 0;
    padding: 0.25rem;
    margin-left: 0;
    position: fixed;
    width: 5rem;
    height: 100vh;
    transition: width 300ms ease;
    z-index: 20;

    
}
.navbar-nav{
    list-style: none;
    /* padding: 10px; */
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
    width: 100%;
    
    
}
.nav-item{
    width: 100%;
    padding: 0.25rem;
    filter: grayscale(100%) opacity(0.5);
}
.nav-item span{
    width: 100%; 
    color: white;  
}
.nav-link{
    text-decoration: none;
    color: white;
    display: flex;
    width: 100%;
    
    flex-direction: row;
    height: 1.95rem;
    
} 

.nav-link svg{
    /* width: 2rem; */
    min-width: 2rem;
    margin: 0 1.5rem;
    height: 1.25rem; 
    
    
 }  

.link-text{
    display: none;
    color: #141418;
    /* background-color: #a249ea; */
} 

.nav-item:last-child {
    /* margin-top: auto; */
  }
.navbar:hover{
    width: 16rem;
    cursor: pointer;
    /* padding: 1rem; */
}

.navbar:hover .link-text{
    display: block;
    transition: display 1000ms ease-in;
}
.nav-item:hover{
    filter: grayscale(0%) opacity(1);
    padding: 1px;
    background-color: #e08f25;
    transition: padding var(--transition-speed) ease;

}
.navbar:hover .logo {
    text-align: right;
    transition: text-align 600ms ease;
}
h1{
    font-size: 3rem;
}


.cover{
    
    padding: 0;
    margin: 0;

    height: 80vh;
    width: 100vw;
    
    color: #ececec;
    

    display: flex;
    justify-content: center;
    align-items: center;
}
.cover-first{
    background-image: url(https://images.unsplash.com/photo-1530375323520-248ebdaa967f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cover-main{
    margin-left: 8rem;
    margin-right: 0;
    
    color: white;
    background-color: #1e1e24;

    height: fit-content;
    width: 100vw;

    margin-left: 0;
    padding: 5rem;

    display: flex;
    flex-direction: column;
    gap: 10rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 800px) {
    .cover-main{
        flex-direction: row;
    }
}
.cover-second{
    background-color: #AE08F7;
    color: white;
    position: relative;
    display: flex;
}

/* wave designs css  */
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(124% + 1.3px);
    height: 143px;
}

.wave .shape-fill {
    fill: #1e1e24;
}
.cover-third{
    position: relative;
    height: fit-content;

}
.cover-main .wave  .shape-fill{
    fill: #141418;
}
.cover-third .wave .shape-fill{
    fill: #AE08F7;
}

/* cover-second & cover-main  */
.custom-shape-divider-bottom-1693551863 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1693551863 svg {
    position: relative;
    display: block;
    width: calc(153% + 1.3px);
    height: 100px;
}

.custom-shape-divider-bottom-1693551863 .shape-fill {
    fill: #1e1e24;
}

#cover-title{
    margin: 1rem;
    color: #ac814d;
    font-family: 'Bebas Neue', sans-serif;

}




.cover-span{
    color: aqua;
}

.cover-main form{
    border-radius: 5px;
    background-color: #ececec;
    color: #23232e;
    padding: 2rem;
    text-align: center;
    height: 80vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    gap: 1rem;
}
@media only screen and (max-width: 800px) {
    .cover-main {
        height: 150vh;
    }
    .cover-main form {
        height: 100vh;
    }
}

.button{
    background-color: #08F7AE;
    color: #ececec;


    padding: 0.5rem;
    border-radius: 5px;
    border: 0;
    font-size: 2rem;
    margin-bottom: auto;
    height: 3rem;
}
.button:hover{
    background-color: #05ce91;
}
.cover-main form .form-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    
}
.cover-main form .form-items input{
    border-radius: 5px;
    padding: 1rem;
    outline: 0;
    border: 0;
    width: 80%;
    display: inline ;
    background:transparent;
    border: 2px solid #633ff1;
}
.cover-main form .form-items svg{
    float: right;
}





.logo-li{
    margin-top: auto;
    align-items: center;
    align-self: center;
    
}
#logo{
    
    width: 14rem;
    height: 14rem;
    mix-blend-mode: darken;
    
    filter: grayscale(100%) blur(0.59px);
    display: none;
}
.arrow{
    width: 100%;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #633ff1;
    text-align: center;

}
.logo svg{
    transform: rotate(0deg);
    transition: transform 900ms;

}
.navbar:hover .logo svg{
    transform: rotate(-540deg);
}
.navbar:hover #logo{
    
    
    display: block;
    transition: display 1000s ease-in;
}

.curve{
    position: absolute;
    height: 225px;
    width: 102%;
    bottom: 0;
}
/* .curve::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100% 164%;
    width: 57%;
    height: 85%;
    background-color: #AE08F7;
    transform: translate(96%,62%);
} */

.curve::after {
    content: '';
    display: block;
    position: absolute;
    /* border-radius: 100% 134%; */
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;

    width: 100%;
    height: 85%;
    bottom: 0;
    background-color: #1e1e24;
    /* transform: translate(-12%,64%); */
    /* z-index: -1 ; */
}



/* footer css  */

footer{
    
    background-color: #4C3D3D;
    color: #DAFFFB;
    border: 2px solid black;
    border-radius:6px;
    font-style: normal;
    font-weight: lighter;
    text-decoration: none;
    color: #ffffff;
    text-shadow: 2px 2px 1px #001C30;
    /* padding: 20px; */
    
    text-transform: uppercase;
    color: #DAFFFB;
    box-shadow: 3px 8px 5px #2f1e1e;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 1em;

    display: flex;
    gap: 0.8em;
    justify-content: center;
    gap: 50%;

    margin: 0;
    padding: 20px;
}

.icons
{
    width: 25px; 
}

.icons:hover{
    width: 30px;
}
.footerElements{
    display: flex;
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
    gap: 30px;
    
    
    text-decoration: none;
}
.footerElements > a {
    text-decoration: none;
    color: #a1bdc0;
}

/* logo in sidebar */
.logo{
    width: 83px;
    height: 77px;
    box-shadow: 2px 2px 1px;
    mix-blend-mode: darken;
}


/* TESTIMONIALS SECTION  */
.hero{
    padding: 15rem;
    /* padding-left: 25rem; */
    /* display: flex; */
    /* flex-direction: row; */
}
.hero h1{
    margin-bottom: 5rem;
}
.user-text h3 {
    
    font-size: 1.8rem;
}
.slide-row{
    display: flex;
    flex-direction: column;
    gap: 12rem;
}
.slide-col{
    border: solid 1px white;
    
    display: flex;
    border-radius: 10px;
    
}

.user-text{
    border-radius: 10px;
    padding: 2rem;
    background-color: #AE08F7;
    z-index: 2;
    transform: translateY(-20%) translateX(1%);
    /* background-color: white;  */
    
    
}
.user-text  p{
    margin-bottom: 4rem;
}
.user-img img   {
    border-radius: 20px;
    transform: translateX(3%) translateY(-3%);
}