<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/book.css" />
    <title>Poolmyride</title>
    <style>
      div {
        text-align: center;
        padding: 10px;
        margin: 10px;
      }
    </style>
  </head>
  <body>
    <img src="/images/carvan.jpg" id="background-image" alt="">
    <div class="main">
      <h1>Put a Request</h1>
      <div class="container">
        <form action="/adduser" method="POST">
          <div class="input-field">
            <label for="name"></label>
            <input class="name" placeholder="name" type="text" id="name" name="name" required />
          </div>
          <div class="input-field">
            <label for="phoneno"></label>
            <input class="name" placeholder="phoneno" type="tel" id="phoneno" name="phoneno" required />
          </div>
          <div class="input-field">
            <label for="from"></label>
            <input class="name" placeholder="From" type="text" id="from" name="from" required />
          </div>
          <div class="input-field">
            <label for="to"></label>
            <input class="name" placeholder="To" class="name" type="text" id="to" name="to" />
          </div class="input-field">
          <div class="input-field">
            <label for="seats"></label>
            <input class="name" placeholder="Seats Remaining" type="number" id="seats" name="seats" max="12" required />
          </div>
          <div class="input-field">
            <button style="color: white; background-color: black" type="submit">
              +
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
