
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/view.css">
    <title>Document</title>
</head>
<body>
    
    <div class="table-bg"></div>
    <div class="wtv">
    <div class="header">List of all rides available </div>
        <div class="table">
            <table class="aksh">
                <tr>
                    <th>Sr.no</th>
                    <th>name</th>
                    <th>contact no.</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Total seats</th>
                    <th>available seats</th>
                    <th>join the ride</th>

                </tr>

                <tr>
                    <td>01</td>
                    <td>aksh</td>
                    <td>92u944849</td>
                    <td>bhopal</td>
                    <td>vit</td>
                    <td>4</td>
                    <td>2</td>
                    <td><button class="join-btn">join</button></td>
                    

                </tr>
                <tr>
                    <td>01</td>
                    <td>aksh</td>
                    <td>92u944849</td>
                    <td>bhopal</td>
                    <td>vit</td>
                    <td>4</td>
                    <td>2</td>

                </tr>
            </table>

        </div>

    </div>
    
</body>
</html>