<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Poolmyride</title>
  </head>
  <body>
    <div>
      <a href="/view">
        <button>View all rides</button>
      </a>
    </div>
    <div>
      <a href="/join">
        <button>Join a Ride</button>
      </a>
    </div>
    <div>
      <a href="/put">
        <button>Put a Request</button>
      </a>
    </div>
  </body>
</html>
