<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/view.css" />
    <title>Poolmyride</title>
  </head>
  <body>
  <div class="form-box">  
    <div class="btn-box">
      <a href="/view">
        <button id="buttons">View all rides</button>
      </a>
    </div>
    <div class="btn-box">
      <a href="/join">
        <button id="buttons">Join  a Ride</button>
      </a>
    </div>
    <div class="btn-box">
      <a href="/put">
        <button id="buttons">Put a Request</button>
      </a>
    </div>
  </div>  
  </body>
</html>
